<h1><%= @post.title %></h1>

<%= simple_format @post.body %>

<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.input :author, label: 'Name'  %>
  <%= f.input :body %>
  <%= f.button :submit, 'Add Comment' %>
<% end %>

<div class='comment-feed'>
  <% @post.comments.order(created_at: :desc).each do |post| %>
    <div class='comment'>
      <h4><%= post.author %></h4>
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>
